body {
	padding-top: 8px;
	background-color: #FFEA80;
  	text-align: center;
  	font-family: sans-serif;
  	letter-spacing: 0.08em;
}

nav {
	height: 54px;
}

#spotlight {
	margin-bottom: 160px;
	padding-left: 5%;
	padding-right: 5%;
}

.title {
	overflow-wrap: break-word;
	font-size: 7vw;
	/* line-height: 1; looks better on browser */
}

@media (max-width: 767px) {
	.title {
		font-size: 48px;
	}
}

#form-container {
	position: absolute;
	bottom: 78px;
	left: 50%;
	transform: translateX(-50%);
}

#contract-text-input {
	width: 280px;
}

.btn-success {
    background-color: #03a488 !important;
}

.btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #02836c !important;
}

.btn-primary {
    background-color: #357bc1 !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #255687 !important;
}

#wallet-display {
	display: none; /* Hide this until user connects wallet. */
	cursor: default;
}

#wallet-address {
	text-transform: uppercase;
}

#dots {
	letter-spacing: 0;
}
